/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Copy and paste your work from yesterday here and start to refactor into flexbox */
.container {
	width: 100%;
	max-width: 1200px;
	margin: auto;
}

nav {
	width: 100%;
	display: flex;
}
.nav-link {
	margin-top: 30px;
	display: flex;
	justify-content: space-evenly;
	width: 1000px;
}

nav ul a{
	color: gray;
	text-decoration: none;
	font-family: arial;
	
}

.service-header-img {
	margin: 100%;
	width: 1024px;
}

h3 {
	font-size: 30px;
	margin-top: 33px;
	
}
.services-info {
	
	padding-bottom: 33px;
	border-bottom: 1px solid black;
}


.first-info {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	border-bottom: 2px solid black;
	margin-bottom: 33px;
}

.first-info div {
	max-width: 572px;
	border: 1px solid black;
	margin: 20px 0;
	padding: 46px;
	background: rgb(242, 245, 245);
	}

button {
	padding: 10px 40px;
	border: 1px solid black;
	margin-top: 20px;
	background: white;
	border-radius: 5px;


}
h5 {
	padding-bottom: 20px;
}

.bottom-info {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.bottom-text {
	width: 519px;

}

.services-info-img {
	margin-right: 135px;
}


.bullet-points {
	list-style-type: square;
	padding-left: 20px;
	line-height: 1.5;
	margin-top: 20px;
}

footer {
	text-align: center;
	margin: 43px 0 22px;
} 

